extends layout

block content 
    nav.nav 
        a(href='/')
            span &larr;
            | Back

    h1= `Server Error`
    h2= `Error staus code: ${err.status} - Server Error`
    p.error-p= `Something's not right: ${err.message}

    pre= #{err.stack}